[submodule "ws/src/interfaces"]
	path = ws/src/interfaces
	url = https://github.com/BioMorphic-Intelligence-Lab/interfaces
[submodule "ws/src/px4_msgs"]
	path = ws/src/px4_msgs
	url = https://github.com/PX4/px4_msgs
[submodule "ws/src/px4_ros_com"]
	path = ws/src/px4_ros_com
	url = https://github.com/PX4/px4_ros_com
[submodule "ws/src/mocap_optitrack_interfaces"]
	path = ws/src/mocap_optitrack_interfaces
	url = https://github.com/BioMorphic-Intelligence-Lab/mocap_optitrack_interfaces
[submodule "ws/src/mocap_optitrack_client"]
	path = ws/src/mocap_optitrack_client
	url = https://github.com/BioMorphic-Intelligence-Lab/mocap_optitrack_client
[submodule "ws/src/common"]
	path = ws/src/common
	url = https://github.com/BioMorphic-Intelligence-Lab/common
